.container {
    position: relative;
    width: 50%;
    width: 30%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  label{
      color: gray;
      font-size: small;
      background-color: white;
      padding-left: 10px;
      padding-right: 10px;   
      border-radius: 30px;   
  }
  label:hover{
    color: white;
    font-size: small;
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;   
    border-radius: 30px;   
}
  span{
    color:brown; 
    }
span:before{
    content: "RD$:";
}
span:after{
    content: " - ";
}