body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    padding: 5%;

    background-color: #111;
    color: darkgray;
    width: 100%;
    padding-top: 10%;
    margin: 0%;
  }
  
  .sidenav a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
a{
  padding-right: 5px;
  padding-left: 5px;
  
}
.lead{
  font-size: 25px;
}
i{
  padding-top: 10%;
}