<div class="jumbotron jumbotron-fluid sidenav">
    <div class="container">
      <h1 class="display-4">Y la pampara se mantendrá Encendida</h1>

      <p class="lead">No olvides mirar nuestras redes sociales</p>
      <div class="row">
        <a href="http://google.com"> <i class="fab fa-google-plus-g"></i></a>
      <a href="http://google.com"><i class="fab fa-facebook"></i></a>
      <a href="http://google.com"><i class="fab fa-twitter"></i></a>
      <a href="http://google.com"><i class="fab fa-instagram"></i></a>
      <a href="http://google.com"><i class="fab fa-whatsapp"></i></a>
      </div>
      <small><a onclick="openNav()">Menu</a></small>
      <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
    </div>
  </div>