<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="elementos">
      
    <a [routerLink]="['/ejemplo/nosotros']" routerLinkActive="router-link-active"  class="g" onclick="closeNav()">Nosotros </a>
    <a [routerLink]="['/ejemplo/servicios']" class="g" onclick="closeNav()">Productos </a>
    <a [routerLink]="['/ejemplo/clientes']" class="g" onclick="closeNav()">Clientes</a>
    <a [routerLink]="['/ejemplo/contacto']" class="g" onclick="closeNav()">Contactos </a>
    <a [routerLink]="['/ejemplo/door']" class="g" onclick="closeNav()">Acceder <i class="fas fa-arrow-right"></i></a>
    </div>    

  </div>
  
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; La pampara encendida <i class="fas fa-lightbulb"></i></span>

