<div class="container">
    <form>
        <input type="button" onclick="dale(true);" class="btn" value="Iniciar Sesion">
        <input type="button" onclick="dale(false);" class="btn"value="Registrate">
    </form>
    <div class="card" id="inic" style="display: block;">
        <div class="card-header">
            <h4>Inicia Sesion</h4>
        </div>
        <div class="card-body">
            <label class="">Correo Electronico</label>
            <input class="form-control" type="email" placeholder="Ingrese su E-mail...">
            <br>
            <label class="">Contraseña</label>
            <input class="form-control" type="password" placeholder="Ingrese su Clave...">
        </div>
        <div class="card-footer">
            <input class="btn2 primario" type="button" value="Acceder">
            <input class="btn2" type="button" value="Cancelar">
        </div>
    </div>
    <div class="card" id="reg"  style="display: none;">
        <div class="card-header">
            <h4>Registrate</h4>
        </div>
        <div class="card-body">
            <label class="">Nombre</label>
            <input class="form-control" type="text" placeholder="Ingrese el nombre que te pusieron tus padres...">
            <label class="">Correo Electronico</label>
            <input class="form-control" type="email" placeholder="Es para identificarte y comunicarnos contigo de forma personal...">
            <label class="">Contraseña</label>
            <input class="form-control" type="password" placeholder="Prestale atencion a tu seguridad...">
            <label class="">Repetir Contraseña</label>
            <input class="form-control" type="password" placeholder="prestale atencion otra vez XD...">
        </div>
        <div class="card-footer">
            <input class="btn2 primario" type="button" value="Registrarse">
            <input class="btn2" type="button" value="Cancelar">
        </div>
    </div>
    <br>
</div>
