.btn{
	color: darkgray;
	background-color: black;
	border-radius: 30px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 20px;
	box-shadow: 10px 10px 5px grey;
}
.btn:hover{
	color: darkgray;
	background-color: black;
	border-radius: 30px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 20px;
	box-shadow: 5px 5px 3px grey;
}
.btn2{
	color: darkgray;
	background-color: black;
	border-radius: 30px;
	padding-left: 25px;
	padding-right: 25px;
}
label{
	margin-top: 10px;
	margin-bottom: 0px;
}
.primario{
	background-color:green;
	color: white;
}