<p>clients works!</p>
<div class="row">
            <div class="container">
                    <img class="rounded img-fluid img-thumbnail image"  style="width:100%" alt="Claudia Miseralli" src="https://ronewyork.com/wp-content/uploads/2018/01/exuviance-retail-thumbnail-855x650.jpg">
                    <div class="middle">
                        <div class="text"><i class="fas fa-camera"></i> Claudia Miseralli</div>
                    </div>
            </div>
            <div class="container">
                    <img class="rounded img-fluid img-thumbnail image"  style="width:100%" alt="Claudia Miseralli" src="https://ronewyork.com/wp-content/uploads/2018/01/ronewyork-csgrid-thejewelrygroup-855x650.jpg">
                    <div class="middle">
                        <div class="text"><i class="fas fa-camera"></i> Mich Hormez</div>
                    </div>
            </div>
            <div class="container">
                    <img class="rounded img-fluid img-thumbnail image"  style="width:100%" alt="Claudia Miseralli" src="https://ronewyork.com/wp-content/uploads/2018/03/01.RO_WEB_CS_GRID_HR-1-540x540.jpg">
                    <div class="middle">
                        <div class="text"><i class="fas fa-camera"></i> Frank Lescher</div>
                    </div>
            </div>
            <div class="container">
                    <img class="rounded img-fluid img-thumbnail image"  style="width:100%" alt="Claudia Miseralli" src="https://ronewyork.com/wp-content/uploads/2018/03/04.RO_WEB_CS_GRID_HARMONIST-540x540.jpg">
                    <div class="middle">
                        <div class="text"><i class="fas fa-camera"></i> Olorini Mattini</div>
                    </div>
            </div>
</div>
